*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body
{
    color:black;
} */
#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2.5px 40px 2.5px 20px;
    height: 100px;
    background-color:  rgba(248, 196, 113, 0.671);
}
.nav-sun-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 500px;
}
.navbar
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 400px;
    /* width:70%; */
    /* background-color: blue; */
    justify-content: space-between;
}
.navbar li a
{
    text-decoration: none;
    color:black;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    /* font-size: 17px; */
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}
.navbar li a:hover
{
    color:white;
    transition: color ease-in 0.2s;
}

#sun-icon:hover
{
    color:white;
    transition: color ease-in 0.2s;
}
.logo h1
{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size:40px;
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
}
.navbar
{

}
